<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Healio - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-page="/Index">Főoldal</a></li>
                @if (!User.Identity.IsAuthenticated)
                {
                    <li><a asp-page="/Register">Regisztráció</a></li>
                    <li><a asp-page="/Login">Bejelentkezés</a></li>
                }
                else
                {
                    <li><a asp-page="/Profile">Profil</a></li>
                    <li><a asp-page="/Logout">Kijelentkezés</a></li>
                }
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2025 - Healio - Siheder Legények</p>
    </footer>
</body>
</html>