@page
@model Healio.Pages.IndexModel
@{
    ViewData["Title"] = "Főoldal";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}

<div class="hero">
    <h1>Üdvözöllek a Healio-ban!</h1>
    <p>
        Modern E-Egészségügyi alkalmazás időpontfoglaláshoz, egészségügyi adatkezeléshez és orvosokkal való kapcsolattartáshoz.
    </p>
    <div class="cta-buttons">
        <a asp-page="/Register">Regisztrálj</a>
        <a asp-page="/Login">Bejelentkezés</a>
    </div>
</div>
